.profile-container{
  width: 90vw;
  margin: 8px auto;

  .my-bookings-container{
    width: 60%;
    .my-bookings-card{
      overflow: hidden;
      height: 120px;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      margin: 16px auto;
      position: relative;

      .my-bookings-infos {
        padding: 16px;
        line-height: 14px;
      }
      .my-bookings-status{
        position: absolute;
        height: 100%;
        width: 18%;
        padding: 8px;
        right: 0px;
        font-weight: bold;
        color:white;
        display: flex;
        justify-content: center;
        align-items:center;
      }
    }
  }




.my-developers-container{
  width: 25%;
  margin-left: 8px;
}


.my-developers-card {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px auto;
  position: relative;

  img {
    height: 100%;
    width: 30%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .my-developers-card-infos {
    padding: 16px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    i {
      font-size: 20px;

      &:nth-child(1) {
        color: $rouge;
      }

      &:nth-child(2) {
        color: rgb(237, 208, 42);
      }
    }
  }
}


}
