.show-container {
  width: 80vw;
  margin: auto;

  .show-container-top {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;

    .developer-pictures{
      width: 45%;
      display: flex;
      align-items: center;

      .image-style{
        max-width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    .booking{
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .developer-name{
        font-size: 40px;
        text-align: center;
      }

      .booking-form{
        box-shadow: 0px 0px 16px 8px rgba(128, 128, 128, 0.486);
        border-radius: 4px;
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;

        span{
          color: $rouge;
        }
        .developer-rate{
          font-weight:bold;
        }
      }
    }
  }
}
