.developer-card {
  overflow: hidden;
  position: relative;

  i {
    color: $rouge;
  }

  img {
    border-radius: 30px;
    //min-height: 300px;
    object-fit: cover;
    object-position: center;
    height: 30vh;
    width: 100%;
  }

  .developer-card-infos {
    padding: 16px;
    position: relative;

    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }

    .developer-card-city {
      font-size: 14px;
      color: grey;
      margin: 0;
    }
  }
}
