.navbar {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 20px;

  .logo {
    font-size: 35px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #FF385C;
    }
  }

  .search {

    input {
      width: 290px;
      border-radius: 25px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: rgb(210, 210, 210);
      color: grey;
      border: none;
      outline: none;
      padding: 10px;
    }

    button {
      width: 45px;
      height: 44px;
      padding: 10px;
      margin-left: -5px;
      border: none;
      background-color: rgb(190, 190, 190);
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
      transition: all 0.4s ease;

      &:hover {
        background-color: rgb(174, 174, 174);
      }
    }
  }

  .call-to-action {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;

    a {
      color: black;
      text-decoration: none;
    }

    #add {
      text-decoration: none;
      font-weight: 700;
      padding: 5px;
      position: relative;
      overflow: hidden;
      transition: all 0.4s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(15deg);
        width: 0%;
        height: 210%;
        background-color: #FF385C;
        transition: all 0.5s ease-in-out;
        z-index: -1;
      }

      &:hover {
        font-weight: bold;
      }

      &:hover::before {
        width: 200%;
        height: 210%;
      }
    }

    #login {
      font-size: 30px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #FF385C;
      }
    }
  }
}
